.table_area
{
  align: center;
  margin-bottom: 20px;
  min-height:700px;
}

td{
  text-align: left;
  vertical-align: middle;
  padding: 0px;
  vertical-align: top;
  //border: 4px double black;
}

th{
  text-align: center;
  vertical-align: middle;
  padding: 0px;
  height:60px;
  font-family: sans-serif;
}

p{ font-family: sans-serif; }

button{
  background:white;
  border: 0px;
  font-family: sans-serif;
  color: black;
}

td .nameset{
  text-align: right;
  padding-right: 10px;
  min-width: 180px;
  padding-bottom: 2px;
}

td .countset, input{ width:100%; margin-bottom:10px}

button[name="add-click"]:hover {
  background: #76b3e8
}

button[name="edit-click"]:hover {
  background: #d4d4d4
}

button[name="del-click"]:hover {
  background: #76b3e8
}

button[name="add-click"]:active {
  background: #9dd0fc
}

button[name="edit-click"]:active {
  background: #e8e8e8
}

button[name="del-click"]:active {
  background: #9dd0fc
}

button[name="edit-click"] { background: #C0C0C0 }

button[name="del-click"] { margin-left:10px; background: #58a1e0 }

button[name="edit-click"], button[name="del-click"] {
  color: white;
  border: 0px solid #C0C0C0;
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

button[name="show-panel-click"] {
  background: white;
  width: 50px;
  height: 50px;
  //margin-bottom: 40px;
  color: #C0C0C0;
  border: 2px solid #C0C0C0;
  line-height: 1.25;
  //padding: 0.5rem 0rem;
  border-radius: 0.25rem;
  cursor: pointer;
  position: absolute;
  bottom:50px;
  right:0px;
  font-size: 1.5rem;
}


.addForm{
  position: absolute;
  bottom:50px;
  right:60px;
  left:360px;
  min-width:300px;
  border: 2px solid #C0C0C0;
  //min-height: 400px;
  border-radius: 0.25rem;
  padding:20px;
  background:white;
}

