<title>Редактирование</title>
<div class="container cil-md-6" style="padding: 40px" xmlns="http://www.w3.org/1999/html">
  <div class="card" >
    <div class="card-header">
      <h3>Редактирование данных</h3>
    </div>
    <div style="padding: 10px; ">
      <form>
        <div class="form-group" >
          <label>Скважина:</label>
          <input [(ngModel)]="remont.skvajina" name="skvajina" type="text" class="form-control" #skvajina>
          <label>Куст:</label>
          <input [(ngModel)]="remont.kyst" name="kyst" type="text" class="form-control" #kyst>
          <label>Месторождение:</label>
          <input [(ngModel)]="remont.mestorojdenie" name="mestorojdenie" type="text" class="form-control" #mestorojdenie>
          <label>Вид ремонта:</label>
          <input [(ngModel)]="remont.vid_remonta" name="vid_remonta" type="text" class="form-control" #vid_remonta>
          <label>Причина:</label>
          <input [(ngModel)]="remont.prichina" name="prichina" type="text" class="form-control" #prichina>
          <label>Дата и время начала ремонта</label><br>
          <table>
            <td style="width: 65%">
              <input [(ngModel)]="remont.start_date_day" name="start_date_day" type="text" placeholder="ДД" class="date-control" #start_date_day> /
              <input [(ngModel)]="remont.start_date_month" name="start_date_month" type="text" placeholder="ММ" class="date-control" #start_date_month> /
              <input [(ngModel)]="remont.start_date_year" name="start_date_year" type="text" placeholder="ГГГГ" class="date-control" #start_date_year>
            </td>
            <td style="text-align:right">
              <input [(ngModel)]="remont.start_time_hour" name="start_time_hour" type="text" placeholder="чч" class="time-control" #start_time_hour> :
              <input [(ngModel)]="remont.start_time_minute" name="start_time_minute" type="text" placeholder="мм" class="time-control" #start_time_minute><br>
            </td>
          </table>
          <label>Дата и время окончания ремонта</label><br>
          <table>
            <td style="width: 65%">
              <input [(ngModel)]="remont.end_date_day" name="end_date_day" type="text" placeholder="ДД" class="date-control" #end_date_year> /
              <input [(ngModel)]="remont.end_date_month" name="end_date_month" type="text" placeholder="ММ" class="date-control" #end_date_month> /
              <input [(ngModel)]="remont.end_date_year" name="end_date_year" type="text" placeholder="ГГГГ" class="date-control" #end_date_day>
            </td>
            <td style="text-align:right">
              <input [(ngModel)]="remont.end_time_hour" name="end_time_hour" type="text" placeholder="чч" class="time-control" #end_time_hour> :
              <input [(ngModel)]="remont.end_time_minute" name="end_time_minute" type="text" placeholder="мм" class="time-control" #end_time_minute><br>
            </td>
          </table>
          <label>Бригада:</label>
          <input [(ngModel)]="remont.brigada" name="brigada" type="text" class="form-control" #brigada>
          <label>Примечание:</label>
          <textarea [(ngModel)]="remont.primechanie" name="primechanie" type="text" class="form-control" #primechanie></textarea>
        </div>
        <div class="form-group">
          <button (click)="Actualisation(remont)" class="btn btn-info" style="background: #0275d8; border: 0px">Сохранить</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--(click)="Actualisation(remont)"-->
