<title>Виды ремонта</title>
<div>
  <h1 class="text-center" style="padding: 30px 0px 0px 0px">Справочники</h1>
  <div class="container" style="padding: 10px 10px 0px 10px; width: 90%">
    <div align="center" class="table_area">
      <div align="center" style="max-width:1400px">
        <button class="spravochnik" id="rock">
          <img class="mask" src="assets/images/Skvajina.png" style="filter: brightness(0) invert(1)">
          <br>Скважины
        </button>
        <button (click)="ShowListVidov()" class="spravochnik2">
          <img class="mask" src="assets/images/VidRemonta.png" style="filter: brightness(0) invert(1)">
          <br>Виды ремонта
        </button>
        <button class="spravochnik">
          <img class="mask" src="assets/images/PrichRem.png" style="filter: brightness(0) invert(1)">
          <br>Причины ремонта
        </button>
        <button (click)="ShowListPrichinaProstoia()" class="spravochnik2">
          <img class="mask" src="assets/images/PrichProstBrig.png" style="filter: brightness(0) invert(1)">
          <br>Причины простоя бригад ремонтов
        </button>
        <button class="spravochnik">
          <img class="mask" src="assets/images/Well1.png" style="filter: brightness(0) invert(1)">
          <br>Установки
        </button>
        <button class="spravochnik2">
          <img class="mask" src="assets/images/VidyOboryd.png" style="filter: brightness(0) invert(1)">
          <br>Виды оборудования
        </button>
        <button class="spravochnik">
          <img class="mask" src="assets/images/Oboryd.png" style="filter: brightness(0) invert(1)">
          <br>Оборудование
        </button>
        <button class="spravochnik2">
          <img class="mask" src="assets/images/ZavodIzgog.png" style="filter: brightness(0) invert(1)">
          <br>Заводы-изготовители
        </button>
      </div>
    </div>
  </div>
</div>
