.table_area
{
  text-align: left;
  height: 600px;
  overflow-y: scroll;
  margin-bottom: 40px;
}

thead {
  background: #e3ebff;
  color: #404040;
  box-sizing: content-box;

}

td{
  text-align: center;
  vertical-align: middle;
  height: 50px;
  padding: 0px;

}

tr{
height:0px;
}

th{
  padding-top:10px;
  text-align: center;
}

button[name="add-click"]:hover {
background: #76b3e8
}

button[name="edit-click"]:hover {
background: #d4d4d4
}

button[name="del-click"]:hover {
background: #76b3e8
}

button[name="add-click"]:active {
background: #9dd0fc
}

button[name="edit-click"]:active {
background: #e8e8e8
}

button[name="del-click"]:active {
background: #9dd0fc
}

button[name="add-click"] { background: #58a1e0; width: 100%; margin-bottom:20px }

button[name="edit-click"] { background: #C0C0C0 }

button[name="del-click"] { margin-left:10px; background: #58a1e0 }


button[name="edit-click"], button[name="del-click"] {
color: white;
border: 0px solid #C0C0C0;
display: inline-block;
font-weight: 400;
line-height: 1.25;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-webkit-user-select: none;
user-select: none;
padding: 0.5rem 1rem;
font-size: 1rem;
border-radius: 0.25rem;
transition: all .2s ease-in-out;
cursor: pointer;
}

button[name="add-click"] {
color: white;
border: 0px solid #C0C0C0;
line-height: 1.25;
padding: 0.5rem 1rem;
border-radius: 0.25rem;
cursor: pointer;
}

